OCI_CONFIG_FILE=~/.oci/config
OCI_PROFILE=DEFAULT
OCI_COMPARTMENT_ID=ocid1.compartment.oc1..example
OCI_GENAI_ENDPOINT=https://inference.generativeai.us-chicago-1.oci.oraclecloud.com
OCI_GENAI_EMBEDDING_MODEL=cohere.embed-english-v3.0
OCI_OBJECT_STORAGE_NAMESPACE=my-namespace
OCI_OBJECT_STORAGE_BUCKET=my-bucket

